<div class="contents row">
  <%# ipaddressを取得するJS読み込み %>
  <%# <h1>Your IP Address:</h1> %>
  <%# <div id="ip-address">※JSにて表示</div> %>
  <div>user名： <%= @user.username %></div>
  <div>IP： <%= @user.ip_address %></div>
  <div>都道府県： <%= @prefectures.find(@user.address_id).name %></div>

  <% @news.each do |news_item| %>
  <div class="news-item" data-prefecture-id="<%= news_item.prefecture_id %>" data-user-address-id="<%= @user.address_id %>">

    <div class="more">
      <%# <span><%= image_tag 'arrow_top.png' %>
      <span><%= '◇' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_news_path(news_item), remote: true, class: 'edit-link' %>
          <%# ▼▼▼ ここの処理が上手くいかない(※試している最中です。) ▼▼▼ %>
          <%# <%= link_to '削除!', news_path(news_item), data: { turbo_method: 'delete', turbo_confirm: '本当にこの記事を削除しますか？' } %>
          <%= button_to '削除', news_path(news_item), method: :delete, data: { confirm: "本当に削除しますか？" }  %>
          <%# ▲▲▲ ここの処理が上手くいかない(※試している最中です。) ▲▲▲ %>
        </li>
      </ul>
    </div>

    <%# <div class="content_post" style="background-image: url( @tweet.image );"> %>
    <p>地方：<%= @prefectures.find(news_item.prefecture_id).name %></p>
    <p>カテゴリー：<%= @categories.find(news_item.category_id).name %></p>
    <p>タイトル：<%= news_item.title %></p>
    <p>内容：<%= news_item.content %></p>
    <span class="name">投稿者名：<%= news_item.author_name %></span>
  </div>
<% end %>


  <%= render 'form', news: @new_news %>
</div>