<div class='wrapper'>
<div class='show'>
<%= render partial: "favorites/favorite", locals: { news: @news } %>
<div class="actions">
  <%= link_to '記事一覧に戻る', news_index_path %>
</div>
<h1 class ='show-title'><%= @news.title %></h1>
<p class ='show-author_name'>投稿者名：<%= @news.author_name %></p>
<div class = 'show-box'>
  <p class ='show-item'>カテゴリー：<%= @categories.find(@news.category_id).name %></p>
  <p class ='show-item'>地方：<%= @prefectures.find(@news.prefecture_id).name %></p>
</div>
<div class = 'show-items'>
<% @news.images.each do |image| %>
  <%= image_tag rails_blob_path(image, disposition: 'attachment', only_path: true), class: "image-size-limit" %>
<% end %>

<% @news.videos.each do |video| %>
  <video class="video-size-limit" controls>
    <source src="<%= url_for(video) %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
<% end %>
</div>

<div class='show-content'>
  内容：<%= simple_format(@news.content).html_safe %>
</div>
<div class="actions">
  <%= link_to '記事一覧に戻る', news_index_path %>
</div>

<%# ↓一応です 最終的にはID参照する予定 %>
<div class='show-menu' >
  <% if @user && @news.user_id == @user.id %>
    <div class='show-edit' >
      <%= link_to '編集', edit_news_path(@news), class: 'edit-link', style: 'display: inline' %>
    </div>
    <%= link_to '削除', news_path(@news), data: { turbo_method: 'delete', turbo_confirm: '本当にこの記事を削除しますか？' }, class: 'show-delete' %>
  <% else %>
    <!-- 編集権限がない場合の処理 -->
  <% end %>
</div>
<!-- コメントフォームの表示 -->
  <div class= 'comments_form'>
    <%= render 'comments/comments', news: @news, comment: @comment, user: @user %>
  </div>
</div>
</div>
