<!DOCTYPE html>
<html>
<head>
  <title>SpeBub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "news_new_popup", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "news_new_popup","news_edit_popup", "news_filter", "type": "module", "data-turbo-track": "reload" %>

</head>
<body class="body">
  <header class="header">
    <div class="logo">ロゴ</div>
    <div>タイトル</div>
    <div class="weather_forecast">天気予報表示</div>
    <a class="post" href="/news/new">投稿する</a>
  </header>

  <div class="menu">
    <div class="item" data-filter="all">記事一覧</div>
    <div class="item" data-filter="favorite">お気に入り記事</div>
    <div class="item" data-filter="unread">未読記事</div>
    <div class="item" data-filter="search">検索記事</div>
    <div class="item" data-filter="">投稿記事一覧</div>
    <select id="prefecture-select">
      <% @prefectures.each do |prefecture| %>
      <option value="<%= prefecture.id %>" <%= 'selected' if prefecture.id == @user.address_id %>><%= prefecture.name %></option>
      <% end %>
    </select>
  </div>

  <!-- オーバーレイを追加 -->
  <div class="overlay"></div>
  <!-- ポップアップを追加 -->
  <div class="form-popup">
    <%= render 'news/form' %>
  </div>
  <div class="edit-form-popup">
    <%= render 'news/edit_form' %>
  </div>

  <%= yield %>

  <footer class="footer">
    <p>Copyright SpeBub 2024.</p>
  </footer>
</body>
</html>
