<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>SpeBub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header class="header">
  <a class="logo-title" href="<%= root_path %>">
    <div class="logo"></div>
    <div class="title">SpeBub</div>
  </a>
  <!-- ここに天気情報を表示する -->
  <%= render 'layouts/weather_forecast' %>
  <a class="post" href="<%= new_news_path %>">投稿する</a>
</header>

<body class="body">
  <!-- オーバーレイを追加 -->
  <div class="overlay"></div>
  <!-- ポップアップを追加 -->
  <div class="form-popup">
    <%= render 'news/form' %>
  </div>
  <div class="edit-form-popup">
    <%= render 'news/edit_form' %>
  </div>
  <!-- ページのどこかにユーザーIDを埋め込む -->
  <div id="user-data" data-user-id="<%= @user.id %>"></div>

  <%= yield %>
</body>

<footer class="footer">
  <p>Copyright SpeBub 2024.</p>
  <p href="https://www.maxmind.com">https://www.maxmind.com</p>.
</footer>
</html>
