<!DOCTYPE html>
<html>
<head>
  <title>SpeBub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "news_new_popup", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="body">
  <header class="header">
    <div class="logo">ロゴ</div>
    <div>タイトル</div>
    <div class="weather_forecast">天気予報表示</div>
    <a class="post" href="<%= new_news_path %>">投稿する</a>
  </header>

  <!-- オーバーレイを追加 -->
  <div class="overlay"></div>
  <!-- ポップアップを追加 -->
  <div class="form-popup">
    <%= render 'news/form' %>
  </div>
  <div class="edit-form-popup">
    <%= render 'news/edit_form' %>
  </div>

  <%= yield %>

  <footer class="footer">
    <p>Copyright SpeBub 2024.</p>
  </footer>
</body>
</html>